node_modules
packages/tiki-crawler/tiki-crawler-env/bin
packages/tiki-crawler/tiki-crawler-env/lib/python3.8
packages/tiki-crawler/__pycache__
packages/ntc-fe-automation-test/test-results
postgredb
.vercel
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*