@font-face {
    font-family: 'My Norms';
    src: url('/TypeType-TTNormsRegular.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'My Norms';
    src: url('/TypeType-TTNormsBold.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }