html,
body {
  padding: 0;
  margin: 0;
  font-family: CrimsonPro, Bitter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@font-face {
  font-family: "Bitter";
  src: url("/fonts/Bitter/Bitter-VariableFont_wght.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bitter";
  src: url("/fonts/Bitter/Bitter-VariableFont_wght.ttf");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "CrimsonPro";
  src: url("/fonts/CrimsonPro/Normal.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CrimsonPro";
  src: url("/fonts/CrimsonPro/Italic.ttf");
  font-style: italic;
  font-display: swap;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
